{% extends "account/base.html" %}

{% load i18n a17t_tags shop_tags %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}
{% block content_title %}{% section_heading 'Sign Up' %}{% endblock %}

{% block card %}
<aside class="aside ~info">Already have an account? Then please <a href="{% url 'account:login' %}">sign in</a> instead.</aside>

<form class="signup max-w-lg" id="signup_form" method="POST" action="{% url 'account:signup' %}">
  {% csrf_token %}
  {{ form|a17t }}
  {% if next %}
  <input type="hidden" name="next" value="{{ next }}" />
  {% endif %}
  <button type="submit" class="button ~urge !high">{% trans "Sign Up" %}</button>
</form>

{% endblock %}
